.container {
  width: 300px;
  height: 300px;
  padding: 30px 21px 30px 24px;
  margin-bottom: 30px;
  margin-right: 40px;
  background-color: white;
  border-radius: 13px;
  position: relative;
}

.image {
  width: 300px;
  height: 120px;
  margin: 0 auto;
  border-radius: 20px;
}
.title {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  line-height: 23px;
  color: #000000;
  padding: 0 24px;
}
.text {
  height: 80px;
  font-family: "Raleway";
  line-height: 19px;
  text-align: left;
  padding: 0 24px;
  color: #242323;
  overflow: hidden;
}
.date {
  font-family: "Raleway";
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  padding: 0 24px;
  color: #161d25;
}