.registrationForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  justify-content: space-between;

}

p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  letter-spacing: 0.03em;
  color: #254050;
}


a {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #016EFC;
}

