.conteiner {
  height: 100%;

  display: flex;
  
  justify-content: center;



}

.userFL {
  width: 50px;
  color: #047bff;
  text-align: center;

}

.user {
  width: 115px;
  color: #047bff;
  text-align: center;


}